<p> Cadastro: </p>
<p> Nome: <input type="text" id="name"> </p>
<p> Login: <input type="text" id="login"> </p>
<p> Senha: <input type="text" id="password"> </p>
<button type="button" onclick="postNewUser('name','login', 'password')"> Cadastrar </button>
<script type="text/javascript">
function postNewUser(name, login, password) {
    method = "post"; // Set method to post by default if not specified.
    path = "/cadastro/create"
    nameValue = document.getElementById(name).value;
    loginValue = document.getElementById(login).value;
    passwordValue = document.getElementById(password).value;
    var params = {"name": nameValue, "login":loginValue, "password":passwordValue}
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);

    for(var key in params) {
        if(params.hasOwnProperty(key)) {
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", key);
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
        }
    }

    document.body.appendChild(form);
    form.submit();
</script>