<html><body>
            <p> Paper </p> <p> - author : Linkin Park</p><p> - link : https://www.google.com.br/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjyzL_9meTXAhXFl5AKHe-JApwQyCkIKjAA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DvjVkXlxsO8Q&usg=AOvVaw1J8g57cGZyoN6fXfLR3RgA</p><p> - title : papercut</p><p> - year : 2000</p><form method="POST">

    <br> Evaluate this paper <input type="text" name="score"></br>
    <input type="submit" value="Ok">
    </form>
    <p> <a href="/mainPage"> << Back </a></p>

    </body></html>